<!--
<ActionBar title="Isabella's Cookbook">
</ActionBar>
-->

<StackLayout orientation="vertical" class="body">
    <Label text="Isabella's Cookbook" textWrap="true" class="header_label"></Label>
    <ScrollView orientation="horizontal">
        <!--<SegmentedBar [items]="allTags" class="tagBar"></SegmentedBar>-->
        <StackLayout orientation="horizontal">
            <Label [text]="item | uppercase" textWrap="true" *ngFor="let item of allTags; let i = index" class="tag-item" [class.selected]="i == selectedTag" (tap)="selectTag(i)"></Label>
        </StackLayout>
    </ScrollView>

    <ScrollView>
        <FlexboxLayout class="flexContainer">
            <CookbookGridbox [recipe]="recipe" [doSpan]="i % 3 == 2" *ngFor="let recipe of myRecipes; let i = index"></CookbookGridbox>
        </FlexboxLayout>
    </ScrollView>
</StackLayout>