.wrapper {
    width: 100;
    height: 100;
}

.tag-item {
    font-size: 16;
    margin: 10;
    color: silver;
    font-family: 'WorkSans-Bold';
}

.tag-item.selected {
    border-bottom-color: red;
    border-bottom-width: 3;
    padding-bottom: 1;
    font-weight: bold;
    color: black;
}

.flexContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.header_label {
    margin-left: 10;
}

.bottom.icon {
    width: 50;
    height: 50;
    border-color: red;
    border-width: 3;
    border-radius: 25;
    padding-top: 15;
    padding-left: 15;
    font-size: 15;
}